@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
  list-style-type: none;
}
.nav{
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  background-color: darkred;
  color: white;
  flex-wrap: wrap;
}
.nav1 ul{
  display: flex;
  align-items: center;
}
.nav2 ul{
  display: flex;
  font-size: smaller;
}
.logo{
  width: 50px;
}
nav li{
  margin: 0 15px 0 5px;
}

h2{
  color:brown;
  background-color: blue;
}
.btn{
  text-align: center;
}
.btn1{
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: darkred;
  transition: transform 1s ease-in-out 2s, box-shadow 3s ease-in-out 1s;
}
.btn1:hover{
  transform: translate(100px, 100px);
  box-shadow: 0 0 50px 30px darkred ;
}

.sun{
  text-align: center;
  margin-top: 100px;
}
.sun button{
  height: 50px;
  width: 50px;
  border: 0;
  background-color: yellow;
  border-top-left-radius: 60% ;
  border-top-right-radius: 60% ;
  transition: transform 3s ease-in-out 1s, box-shadow 2s ease-in-out 1s, border-radius 3s ease-in-out 1s;
}
.btn2:hover{
  box-shadow: 0 0 30px 50px rgba(255, 255, 0, 0.555);
  transform: translate(0, -50px);
  border-radius: 50%;
}

.pp{
  margin-top: 200px;
  text-align: center;
}
.pip{
  height: 50px;
  width: 50px;
  border: 0;
  background-color: burlywood;
}
.pip:hover{
  border-radius: 50%;
  box-shadow: -30px 0 burlywood, 30px 0 burlywood;
}